<h2>Leave Application Submitted</h2>

<p>Hello {{ employeeName }},</p>

<p>Your leave request has been submitted successfully to {{managerName}}.</p>

<p>From: {{ from_date }}</p>
<p>To: {{ to_date }}</p>

<p>Status: PENDING</p>